{% extends "base.html" %}

{% block js_css %}
  <script type="text/javascript" async src="{{tupelo_dir}}/js/MathJax2.7.2/MathJax.js"></script>
  <link rel="stylesheet" href="{{tupelo_dir}}/css/googlefonts.css">
  <link rel="stylesheet" href="{{tupelo_dir}}/css/default.css" media="all">
  <link rel="stylesheet" href="{{tupelo_dir}}/css/highlight-atelier-cave-light.css">
  <link rel="stylesheet" href="{{tupelo_dir}}/css/pan.css">
  <script src="{{tupelo_dir}}/js/highlight.pack.js"></script>
{% endblock %}

{% block nav %}
   <header class="header">
    <nav class="nav">
      <a href="{{dst_folder}}/{{baseurl}}" class="nav-logo">
        <img src="{{tupelo_dir}}/images/tupelo.png"
         width="75px"
         height="75px"
         alt="home_logo">
      </a>
      <ul id = 'ap' class="nav-links">
      {% for category_key in index_key %}
  		<li><a href="{{baseurl}}#{{category_key}}">{{category_key}}</a></li>
      {% endfor %}
      </ul>
    </nav>
  </header>
{% endblock %}

{% block content %}
<main class="content" role="main">
{% for category_key in index_key %}
<h3 id = "{{category_key}}" class="archive-title">{{category_key}}</h3>
	{% for doc in index_info[category_key] %}
  <div class="archive">
  <article class="archive-item">
    <a href="{{doc['doc_dst']}}" class="archive-item-link">{{doc['title']}}</a>
    <span class="archive-item-date">
      {{doc['time']}}
    </span>
  </article>
  </div>
  {% endfor %}
{% endfor %}
{% endblock %}

{% block foot %}
    <script src="{{tupelo_dir}}/js/scrollsTop.js"></script>
{% endblock %}